{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": "last 2 chrome versions"
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "styled-components",
    "add-react-displayname",
    "react-hot-loader/babel",
    [
      "transform-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "production": {
      "only": [
        "app"
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
